:root {
    --primary-black: #1C1C1C ;
    --primary-gold: #C9A86A;
    --primary-charcoal: #2D2D2D;
    --primary-beige: #E8DCC4;
}

body {
    background-color: var(--primary-black);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.75fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 0px 200px;
    

}

.header {
    text-align: center;
    color: var(--primary-beige);
}

.header-text {
    color: var(--primary-beige);
}

.row-header {
    background-color: var(--primary-gold);
}

.col-header {
    background-color: var(--primary-gold);

}

.input-box {
    background-color: var(--primary-charcoal);
    height: 125px;
    overflow: hidden;
    padding: 0;
}

.input-box:hover {
    background-color: var(--primary-gold);
    height: 125px;
}



.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#row2 {
    grid-area: 3 / 1 / 3 / 1; 
}

#row3 {
    grid-area: 4 / 1 / 4 / 1; 
}

#modal-backdrop {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

#modal-container {
    background-color: var(--primary-charcoal);
    padding: 20px 40px;
    max-width: 600px;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

    
}

#modal-container input[type="search"] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--primary-gold);
    border-radius: 5px;
    font-size: 1.2em;
    background-color: var(--primary-black);
    color: var(--primary-beige)
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.book-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.book-cover {
    max-width: 80%;
    max-height: 55%;
    object-fit: contain;
    margin-bottom: 8px;
}

.book-info {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.book-title {
    font-size: 14px; /* Adjust as needed */
    font-weight: bold;
    margin: 4px 0;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.book-author {
    font-size: 12px;
    margin: 2px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

